<div class="login-wrap h2"> 
    <div class="vertical-container">
        
        <div>
            <img width="75px" height="75px" src="http://cdn.onlinewebfonts.com/svg/img_311846.png" /> 
        </div>
            
        <!-- usuario -->
        <mat-form-field class="example-full-width item">
            <input id="user" matTooltip="Teclea Bien!" matTooltipPosition="before" matInput type="text" placeholder="Ingresa Usuario" [(ngModel)]="usuario"  [formControl]="user" required/>
            <mat-error *ngIf="user.invalid">{{getErrorMessageUser()}}</mat-error>
        </mat-form-field>
            
        <!-- password -->
        <mat-form-field>
            <input id="contra" matTooltip="No te equivoques!" matTooltipPosition="before" matInput placeholder="Ingresa Password" [type]="hide ? 'text' : 'password'" [(ngModel)]="password"  [formControl]="pass" required>
            <mat-error *ngIf="pass.invalid">{{getErrorMessagePass()}}</mat-error>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>

           
        </mat-form-field>
           
        <!-- repit pasword -->
        <mat-form-field>
            <input id="rcontra" matTooltip="No te equivoques!" matTooltipPosition="before" matInput placeholder ="Repite Password" [type]="hide2 ? 'text' : 'rpassword'" [(ngModel)]="rpassword">
            <mat-icon matSuffix (click)="hide2 = !hide">{{hide2 ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
       
        <!-- correo -->
        <div class="example-full-width item">
        <field-error>loading</field-error>
         </div>
        <!-- nombre -->
        <mat-form-field class="example-full-width item">
            <input id="nombre" matTooltip="Teclea Bien!" matTooltipPosition="before" matInput type="text" placeholder="Nombre" [(ngModel)]="nombre"  [formControl]="user" required/>
            <mat-error *ngIf="user.invalid">{{getErrorMessageUser()}}</mat-error>
        </mat-form-field>
        
        <!-- checkbox -->
        <!-- <input type="checkbox" name="check[]" id="check1" value="1"/> -->
        <mat-checkbox>Check me!</mat-checkbox>

    </div>

    <div class="button"> 
        <button matTooltip="Logueate!"  mat-raised-button color="primary"  (click)="validarRegistro()">Login</button>
    </div>  
       
    </div>
